<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trang chu</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <script src="xuly.js"></script>
    <link rel="stylesheet" type="text/css" href="layout.css">
</head>
<body>
<div id="wrapper">
    <div id="information">
        <input type="text" id="txtphone" placeholder="phone" hidden>
        <input type="button" id="bnt_send" value="Kiểm tra thông tin dự thưởng">
    </div>

</div>
<div id="listuser">
    <h3>Danh sách dự thưởng</h3>
    <div id="ds">
    </div>
</div>
</body>


<!--&lt;!&ndash; The core Firebase JS SDK is always required and must be listed first &ndash;&gt;-->
<!--<script src="/__/firebase/8.4.1/firebase-app.js"></script>-->

<!--&lt;!&ndash; TODO: Add SDKs for Firebase products that you want to use-->
<!--     https://firebase.google.com/docs/web/setup#available-libraries &ndash;&gt;-->
<!--<script src="/__/firebase/8.4.1/firebase-analytics.js"></script>-->

<!--&lt;!&ndash; Initialize Firebase &ndash;&gt;-->
<!--<script src="/__/firebase/init.js"></script>-->
<!--npm install -g firebase-tools-->
<!--firebase login-->
<!--firebase init-->
 <!--firebase deploy-->
