<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trang chu</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <script src="xuly.js"></script>
    <link rel="stylesheet" type="text/css" href="layout.css">
</head>
<body>
<div id="wrapper">
    <div id="information">
        <input type="text" id="txtname" placeholder="name">
        <input type="text" id="txtemail" placeholder="email">
        <input type="text" id="txtphone" placeholder="phone">
        <br> <br>
        <input type="button" id="bnt_random" value="Quay mã ngẫu nhiên" >
        <span style="color:#e30202 ;" id="txtrandom">hãy quay mã dự thưởng</span>
        <br> <br>
        <input type="button" id="bnt_send" value="Gửi thông tin dự thưởng">
        <br><br>
        <div style="color:#e30202" id="checkphone"></div>
    </div>

</div>
<!--<div id="listuser">-->
<!--    <h3>Danh sách dự thưởng</h3>-->
<!--    <div id="ds">-->
<!--    </div>-->
<!--</div>-->
</body>
</html>
